nav{
    background-color: aqua;
    height: 100%;
    width: 100%;
}
html{
    background-color: aqua;
}
.all{
    background-color: aqua;
}
nav div.LP img{
    width: 160px;
    height: 100px;
    margin: 0 0 20px 30px;
}
nav div.RP ul li{
    display: inline-block;
    margin: 30px 10px 0 0;
}
nav div.LP{
    float: left;
}
nav div.RP{
    float: right;
}
h1{
    color: chocolate;
}
.sec1{
    background-color: blueviolet;
}
.clr{
    clear: both;
}
.sect{
    margin: auto;
    height: 50px;
    width: 100%;
    text-align: center;
}
.sec2{
    background-color: coral;
}
.sec3{
    background-color: crimson;
}
.sec4{
    background-color: darkblue;
}
.sec5{
	background-color: darkred;
}